.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/points.png');
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    text-align: center;
    font-family: "Epunda Slab", serif;
    font-weight: 400;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.info p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.25rem;
    color: white;
}

.info p::before {
    content: ' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    background-image: url('../img/person.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.info p.loc::before {
    background-image: url('../img/loc.png');
}

.info p.phone::before {
    background-image: url('../img/phone.png');
}

.info p.email::before {
    background-image: url('../img/email.png');
}


@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo info"
        ;
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }

    .header .info {
        grid-area: info;
    }
}